.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.hotels {
  color: black;
}
h3 {
  color: black;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
.main_hotels {
  text-align: left;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/*Навигация*/
.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main_logo {
  /*display: block;*/
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  }
.nav_link {
  color: black;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;

  display: inline-block;
  width: 239px;
  height: 56px;
  padding-top: 15px;
}
.nav_list_item:nth-child(2) {
  margin-right: 244px;
}
.nav_link:hover,
.nav_link:focus {
  color: #81b3d2;
}
.nav_link:active {
  color: rgba(0, 0, 0, 0.3);
}
.nav_active,
.nav_active:hover,
.nav_active:focus {
  color: #766357;
  cursor: default;
}
.welcome {
  height: 508px;
  background-image: url('../img/background_photo.jpg');
  background-color: #647b8d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 60px;
}
.welcome_title {
  margin: 0 auto;
  margin-bottom: 22px;
}

/*Приемущества*/
.advantages {
  display: flex;
  flex-wrap: wrap;
}
.sedona_cool p {
  line-height: 26px;
}
.sedona_cool h3 {
  margin-bottom: 28px;
}
.sedona_cool {
  margin-bottom: 50px;
}
.advantages_item h3 {
  line-height: 21px;
  padding-right: 120px;
  padding-left: 120px;
}
.advantages_item {
  width: 400px;
  height: 256px;
}
.advantages_item p {
  padding-left: 60px;
  padding-right: 60px;
}
.advantages_food,
.advantages_souvenirs,
.advantages_home {
  height: 330px;
}
.advantages_food:before {
  content: url('../img/food.svg');
  position: relative;
  top: 60px;
}
.advantages_souvenirs:before {
  content: url('../img/souvenirs.svg');
  position: relative;
  top: 60px;
}
.advantages_home:before {
  content: url('../img/home.svg');
  position: relative;
  top: 60px;
}
.blue {
  background-color: #81b3d2;
  color: white;
}
.blue h3 {
  color: inherit;
}
.blue p {
  padding-left: 48px;
  padding-right: 48px;
}
.advantages_item:nth-last-child(-n+3) {
  background-color: #eeeeee;
}



/*Заинтересовались*/
.interest {
  height: 292px;
  background-color: #647b8d;
}
.form-wrapper {
  position: relative;
  top: 147px;
  width: 570px;
  margin: 0 auto;

}
.interest_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
}
.interest_text {
  line-height: 24px;
}


/*Даты заезда*/
.hotel-search_btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  height: 85px;
  width: 100%;
}
.hotel-search_btn:hover,
.hotel-search_btn:focus {
  background-color: #604e43;
}
.hotel-search_btn:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.hotel-search_form {
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: white;
}
.hotel-search_form input,
.calendar_btn{
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: #f2f2f2;
  border: none;
}
.hotel-search_form input:hover {
  background-color: #ebebeb;
}
.hotel-search_form input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

/*.hotel-search_form input::after {*/
/*  content: '';*/
/*  display: inline-block;*/
/*  width: 38px;*/
/*  height: 38px;*/
/*  background-image: url('../img/calendar.svg');*/
/*  background-repeat: no-repeat;*/
/*  background-position: 50% 50%;*/
/*  background-size: 21px 22px;*/
/*  vertical-align: middle;*/
/*}*/
.btn_up,
.btn_down{
  border: none;
  color: #a9a9a9;
  font-size: 26px;
}
.btn_up:hover,
.btn_down:hover,
.btn_up:focus,
.btn_down:focus{
  color: black;
}
.btn_up:active,
.btn_down:active {
  color: #81b3d2;
}
.search_btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #81b3d2;
  text-transform: uppercase;
}
.search_btn:hover,
.search_btn:focus {
  background-color: #669ec0;
}
.search_btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}


/*Подбор отеля*/
.filter {
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #647b8d;
  min-height: 217px;
  padding-top: 26px;
  padding-left: 70px;
}
.filter_form {
  font-size: 16px;
  color: white;
  display: flex;
}
.filter_form fieldset {
  border-style: none;
}
.filter_form legend,
.cost label {
  font-weight: 700;
}
.filter_result_btn{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-transform: inherit;
  background: none;
}
.infrastructure_list,
.type_list {
  list-style: none;
  text-align: left;
}
.filter_form fieldset:nth-child(1) {
  margin-right: 130px;
}
.filter_form fieldset:nth-child(2) {
  margin-right: 350px;
}
.filter_form fieldset {
  padding: 0;
}
.cost {
  width: 320px;


}
/*Подбор отеля - результаты*/
/*Сортировка*/
.result_sort {
  display: flex;
  height: 86px;
}
.result_list_item, .hotels .footer{
  border-top: 1px solid #e5e5e5;
}
.result_sort span {
  font-size: 12px;
  line-height: 18px;
  /*margin-left: auto;*/
}
.sort_list {
  list-style: none;
  display: flex;
}
.sort_link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort_link:hover,
.sort_link:focus {
  color: #81b3d2;
}
.sort_link:active {
  border: none;
  color: black;
}
.sort_active,
.sort_active:hover,
.sort_active:focus {
  color: #81b3d2;
  cursor: default;
  border: none;
}

/*Результаты*/
.result_list {
  list-style: none;
}
.hotel_link {
  text-decoration: none;
  color: black;
}
.hotel_link:hover,
.hotel_link:focus {
  color: #81b3d2;
}
.hotel_link:active {
  color: rgba(0,0,0,0.3);
}
.info_btn {
  background-color: #81b3d2;
}
.info_btn:hover,
.info_btn:focus {
  background-color: #669ec0;
}
.info_btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.reserv_btn {
  background-color: #766357;
}
.reserv_btn:hover,
.reserv_btn:focus {
  background-color: #604e43;
}
.reserv_btn:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.info_btn,
.reserv_btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.hotel_cost,
.hotel_rating {
  color: #333333;
}
.hotel_rating {
  background-color: #f2f2f2;
}


/*Футер*/
.footer{
  background-color: rgba(255,255,255,0.9);
  display: flex;
  height: 120px;
}
.visit-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}
.visit-sedona a {
  color: inherit;
  text-decoration: none;
}
.social_list {
  list-style: none;
  display: flex;
}

.htmlacademy {
  line-height: 26px;
  font-weight: 700;
}

/*Оступы*/

.result_sort {
  padding-top: 30px;
  padding-left: 70px ;
}
.result_sort h3{
  margin-right: 50px;
}
.result_sort span:nth-child(2) {
  margin-right: 40px;
}
.sort_list li:not(:last-child) {
  margin-right: 30px;
}
.sort_list {
  margin-right: 500px;
}


.result_list_item {
  padding-top: 30px;
  padding-left: 72px;
}
.result_list_item:not(:last-child) {
  margin-bottom: 30px;
}
.result_list_item {
  display: flex;
}
.result_list_item img {
  margin-right: 30px;
}
.result {
  margin-bottom: 30px;
}
.result_list_wrap {
  display: flex;
  flex-direction: column;
}
.result_list_item .result_list_wrap:nth-child(3) {
  margin-right: 70px;
  margin-left: auto;
}


.footer {
  padding-top: 30px;
  padding-left: 130px;
  text-align: left;
}
.visit-sedona {
  margin-right: 170px;
}
.social_list {
  margin-right: 200px;
}
