.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: white;
}
.hotels {
  color: black;
}
h3 {
  color: black;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
.main_hotels {
  text-align: left;
}
*, *::before, *::after {
  box-sizing: border-box;
}
header {
  position: relative;
}

/*Навигация*/
.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main_logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav_link {
  color: black;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;

  display: inline-block;
  width: 239px;
  height: 56px;
  padding-top: 15px;
}
.nav_list_item:nth-child(2) {
  margin-right: 244px;
}
.nav_link:hover,
.nav_link:focus {
  color: #81b3d2;
}
.nav_link:active {
  color: rgba(0, 0, 0, 0.3);
}
.nav_active,
.nav_active:hover,
.nav_active:focus {
  color: #766357;
  cursor: default;
}
.welcome {
  content: '';
  height: 508px;
  background-image:url('../img/polygon.svg'),
                   url('../img/intro-welcome.svg'),
                   url('../img/background_photo.jpg');
  background-position: bottom, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, 458px 352px, auto;
  background-color: #647b8d;

  margin-bottom: 60px;
}
.welcome_title {
  margin: 0 auto;
  margin-bottom: 22px;
}

/*Приемущества*/
.advantages {
  display: flex;
  flex-wrap: wrap;
}
.sedona_cool p {
  line-height: 26px;
}
.sedona_cool h3 {
  margin-bottom: 28px;
}
.sedona_cool {
  margin-bottom: 50px;
}
.advantages_item h3 {
  line-height: 21px;
  margin-bottom: 25px;
}
.advantages_item span {
  display: inline-block;
  margin-bottom: 20px;
}
.advantages_item {
  width: 400px;
  min-height: 256px;
  padding: 0 50px;
  padding-top: 46px;
}
.advantages_food,
.advantages_souvenirs,
.advantages_home {
  position: relative;
  min-height: 330px;
  padding-top: 160px;
}
.advantages_food:before {
  content: url('../img/food.svg');
  position: absolute;
  top: 60px;
  left: 165px;
}
.advantages_souvenirs:before {
  content: url('../img/souvenirs.svg');
  position: absolute;
  top: 55px;
  left: 170px;
}
.advantages_home:before {
  content: url('../img/home.svg');
  position: absolute;
  top: 59px;
  left: 164px;
}
.blue {
  background-color: #81b3d2;
  color: white;
}
.blue h3 {
  color: inherit;
}

.advantages_item:nth-last-child(-n+3) {
  background-color: #eeeeee;
}



/*Заинтересовались*/
.interest {
  height: 292px;
  padding: 0 200px;
  padding-top: 50px;
  position: relative;
}
.form-wrapper {
  position: absolute;
  width: 570px;
  margin: 0 auto;
  left: 315px;
  top: 207px;
}
.interest_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 24px;
}
.interest_text {
  line-height: 24px;
}


/*Даты заезда*/
.hotel-search_btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  height: 85px;
  width: 100%;
}
.hotel-search_btn:hover,
.hotel-search_btn:focus {
  background-color: #604e43;
}
.hotel-search_btn:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.hotel-search_form {
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: white;
}
.hotel-search_form input,
.calendar_btn{
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: #f2f2f2;
  border: none;
}
.hotel-search_form input:hover {
  background-color: #ebebeb;
}
.hotel-search_form input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

/*.hotel-search_form input::after {*/
/*  content: '';*/
/*  display: inline-block;*/
/*  width: 38px;*/
/*  height: 38px;*/
/*  background-image: url('../img/calendar.svg');*/
/*  background-repeat: no-repeat;*/
/*  background-position: 50% 50%;*/
/*  background-size: 21px 22px;*/
/*  vertical-align: middle;*/
/*}*/
.btn_up,
.btn_down{
  border: none;
  color: #a9a9a9;
  font-size: 26px;
}
.btn_up:hover,
.btn_down:hover,
.btn_up:focus,
.btn_down:focus{
  color: black;
}
.btn_up:active,
.btn_down:active {
  color: #81b3d2;
}
.search_btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #81b3d2;
  text-transform: uppercase;
}
.search_btn:hover,
.search_btn:focus {
  background-color: #669ec0;
}
.search_btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.persons, .date {
  align-items: center;
  display: flex;
}
.form-wrapper {
  background-color: white;
}
.hotel-search_btn {
  margin-bottom: 55px;
}
.hotel-search_form {
  padding-left: 57px;
}
.date:nth-child(1) {
  margin-bottom: 29px;
}
.date:nth-child(2) {
  margin-bottom: 29px;
}
.date label {
  width: 100px;
  margin-right: 11px;
}
.date input {
  width: 308px;
  height: 38px;
  text-transform: inherit;
  padding-left: 12px;
}
.persons label:nth-of-type(1) {
  width: 100px;
  margin-right: 11px;
}
.persons label:nth-of-type(2) {
  width: 50px;
  margin-right: 14px;
}
.persons input {
  width: 38px;
  height: 38px;
  text-align: center;
}

.persons input[type=number]::-webkit-inner-spin-button,
.persons input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
.calendar_btn,
.persons button {
  height: 38px;
  width: 38px;
  text-align: center;
}
.persons button:nth-of-type(2) {
  margin-right: 54px;
}
.persons {
  margin-bottom: 53px;
}
.calendar_btn {
  padding-top: 8px;
}
.calendar_btn svg {
  fill: #cacaca;
}
.calendar_btn:hover svg,
.calendar_btn:focus svg {
  fill: black;
}
.calendar_btn:active svg{
  fill: #81b3d2;
}
.search_btn {
  width: 458px;
  height: 58px;
  margin-bottom: 55px;
}
/*Подбор отеля*/
.filter {
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #647b8d;
  min-height: 217px;
  padding-top: 26px;
  padding-left: 70px;
  padding-right: 70px;
}
.filter_form {
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.infrastructure_list li:not(:last-child),
.type_list li:not(:last-child) {
  margin-bottom: 25px;
}
.filter_form fieldset {
  border-style: none;
}
.filter_form legend,
.cost label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.infrastructure_list,
.type_list {
  list-style: none;
  text-align: left;
}
.filter_form fieldset:nth-child(1) {
  margin-right: 115px;
}
.filter_form fieldset {
  padding: 0;
}
.check {
  padding-left: 40px;
}
.check_input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}
.check_box {
  margin-left: -40px;
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.check_input:checked + .check_box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}
.check_input:focus + .check_box {
  outline: 3px solid #669ec0 ;
}
.check_input:disabled + .check_box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}
.check_input:checked:disabled + .check_box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}
.cost {
  width: 320px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cost label {
  margin-bottom: 10px;
}
.cost_value {
  border: 2px solid white;
  border-radius: 2px;
  display: flex;
  background-image: url('data:image/svg+xml,%3Csvg width="2" height="22" viewBox="0 0 2 22" xmlns="http://www.w3.org/2000/svg"%3E%3Cline x1="0" y1="0" x2="0" y2="22" stroke="white" stroke-width="4"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.cost_value div {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.cost_range {
  margin-bottom: 25px;
}
.filter_result_btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  text-transform: inherit;
  background: none;
  padding: 5px 0;
  width: 138px;
  height: 37px;
  border: 2px solid white;
  margin-left: 85px;
  border-radius: 2px;
}
.filter_result_btn:hover {
  background-color: white;
  color: black;
}






/*Подбор отеля - результаты*/
/*Сортировка*/
.result_sort {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 31px;
  padding-left: 71px ;
  padding-right: 73px;
}
.result_sort h3{
  margin-right: 50px;
}
.result_sort span {
  font-size: 12px;
  line-height: 18px;
}
.result_sort span:nth-child(2) {
  margin-right: 40px;
}
.sort_list li:not(:last-child) {
  margin-right: 30px;
}
.sort_list {
  list-style: none;
  display: flex;
}
.sort_link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort_link:hover,
.sort_link:focus {
  color: #81b3d2;
}
.sort_link:active {
  border: none;
  color: black;
}
.sort_active,
.sort_active:hover,
.sort_active:focus {
  color: #81b3d2;
  cursor: default;
  border: none;
}
.filter_up_down {
  margin-left: auto;
}
.filter_up_down button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;
}
.up_down_btn svg {
  fill: #cacaca;
}
.up_down_btn:hover svg,
.up_down_btn:focus svg {
  fill: #231f20;
}
.up_down_btn:active svg {
  fill: #81b3d2;
}

/*Результаты*/
.result_list {
  list-style: none;
}
.hotel_link {
  text-decoration: none;
  color: black;
}
.hotel_link:hover,
.hotel_link:focus {
  color: #81b3d2;
}
.hotel_link:active {
  color: rgba(0,0,0,0.3);
}
.info_btn {
  background-color: #81b3d2;
}
.info_btn:hover,
.info_btn:focus {
  background-color: #669ec0;
}
.info_btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.reserv_btn {
  background-color: #766357;
}
.reserv_btn:hover,
.reserv_btn:focus {
  background-color: #604e43;
}
.reserv_btn:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.info_btn,
.reserv_btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.hotel_cost,
.rating_value {
  color: #333333;
}
.rating_value {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 3px 13px;
}
.hotel_link h2 {
  margin-bottom: 10px;
}
.hotel_cost {
  margin-bottom: 12px;
}
.hotel_cost span {
  display: inline-block;
  width: 120px;
}
.info_btn,
.reserv_btn {
  display: inline-block;
  height: 27px;
  padding: 0 17px;
  padding-top: 3px;
}
.result_list_item {
  padding-top: 29px;
  padding-left: 72px;
  display: flex;
  border-top: 1px solid #e5e5e5;
  box-sizing: content-box;
  height: 90px;
  margin-bottom: 31px;
}
.hotels .footer {
  border-top: 1px solid #e5e5e5;
}
/*.result_list_item:not(:last-child) {*/
/*  margin-bottom: 27px;*/
/*}*/

.result_list_item img {
  margin-right: 30px;
}
.result {
  margin-bottom: 30px;
}
.result_list_wrap {
  display: flex;
  flex-direction: column;
}
.rating {
  align-items: flex-end;
  justify-content: space-between;
}
.rating_stars {
  display: flex;
  justify-content: flex-end;
}
.one_star {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17"%3E%3Cpath fill="%2381B3D2" d="M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.result_list_item .result_list_wrap:nth-child(3) {
  margin-right: 74px;
  margin-left: auto;
}


/*Футер*/
.main .container{
  position: relative;
}
.main .footer{
  position: absolute;
  bottom: 5px;
  width: 100%;
  opacity: 0.9;
}
.footer {
  background-color: rgba(255,255,255,0.9);
  display: flex;
  min-height: 120px;
  padding-top: 30px;
  padding-left: 129px;
  padding-right: 101px;
  text-align: left;
}
.visit-sedona a {
  color: inherit;
  text-decoration: none;
}
.visit-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  width: 230px;
  margin-right: 165px;
}
.visit-sedona span {
  display: inline-block;
  width: 230px;
  margin-bottom: 6px;
}
.social_list {
  list-style: none;
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 200px;
  padding-top: 5px;
}
.social_list a{
  font-size: 0;
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.social_list a:hover,
.social_list a:focus {
  background-color: #669ec0;
}
.social_list a:active {
  background-color: #5496bd;
}
.social_list a:active svg {
  opacity: 0.3;
}
.htmlacademy {
  line-height: 26px;
  font-weight: 700;
  margin-left: auto;
}
.htmlacademy span {
  float: left;
  padding-top: 15px;
  margin-right: 6px;
}
.htmlacademy a {
  display: inline-block;
  padding-top: 8px;
}
.htmlacademy a:hover svg {
  fill: #231f20;
}
.htmlacademy a:hover svg,
.htmlacademy a:focus svg {
  fill: #81b3d2;
}
.htmlacademy a:active svg {
  fill: #bdbbbc;
}

